Package: nexus-mp-termux32
Version: 1.0.0
Architecture: armhf
Maintainer: Nexus Mail <dev@zttmail.us>
Homepage: https://zttmail.us
Depends: libc6
Description: Nexus Mail Protocol Server
 IMAP server for Nexus mail system
 32-bit ARM Termux version
