Package: nexus-mta-amd64
Version: 1.0.0
Architecture: amd64
Maintainer: Nexus Mail <dev@zttmail.us>
Homepage: https://zttmail.us
Depends: libc6
Description: Nexus Mail Transfer Agent
 Mail Transfer Agent (MTA) for Nexus mail system
 AMD64 Linux version
