Package: nexus-smtp-docker
Version: 1.0.0
Architecture: amd64
Maintainer: Nexus Mail <dev@zttmail.us>
Homepage: https://zttmail.us
Depends: libc6
Description: Nexus SMTP Server
 SMTP server for Nexus mail system
 Docker container version
