Package: nexus-mta-termux64
Version: 1.0.0
Architecture: arm64
Maintainer: Nexus Mail <dev@zttmail.us>
Homepage: https://zttmail.us
Depends: libc6
Description: Nexus Mail Transfer Agent
 Mail Transfer Agent (MTA) for Nexus mail system
 64-bit ARM Termux version
