Package: nexus-rmc-termux32
Version: 1.0.0
Architecture: armhf
Maintainer: Nexus Mail <dev@zttmail.us>
Homepage: https://zttmail.us
Depends: libc6
Description: Nexus Remote Mail Client
 Remote mail management with DKIM, DMARC, SPF support
 32-bit ARM Termux version
